body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #599dc3;
}
.add_candidates {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #599dc3;
    border-radius: 25px;
    transition: .4s ease-in-out;
    background: #599dc3;
    box-shadow:  8px 8px 16px #457a98,
             -8px -8px 16px #6dc0ee;
   
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #599dc3;
}
.input-field{
    background-color: aliceblue;
}