body {
    background-image:  linear-gradient(to bottom, red ,yellow);
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
.Register{
    font-family: Arial, sans-serif;
    background-color: azure;
    height: 70vh;
    width: 60vw;
    font-size:1.2cap

}
label{
    font-size: 15px;
   padding: 3%;
   margin-top: 5vh;
   margin-bottom: 5vh;

}
input{
    border-radius: 5px;
    height: 5vh;
    width: auto;
    background-color: antiquewhite;
    font-size: 18px;
    margin-top: 2ch;
    margin-bottom: 2ch;
}
